@font-face {
  font-family: 'Monarch';
  src: url('assets/web/monarch1.2.woff') format('woff'),
    url('assets/web/monarch1.2.woff2') format('woff2');
}

html {
  background-color: #000000;
  /* margin: 3%; */
}


.ex1 {
  background-color: #000000 !important;
  position: fixed;
  font-size: 90px;
  left: 10px;
  top: 10px;
  border: 90px;
  font-family: 'Inconsolata', monospace;
  Text', serif;
}

.ex1:hover {
  display: block;
  color: #A7FF02;
}

a {
  text-decoration: none;
  color: #F5F1EE;
}

a:hover {
  color: #A7FF02;
}

.box {
  display: fixed;
  height: 95%;
  width: 1500px;
  background: #F5F1EE;
}


.link1 {
  display: inline;
  padding-left: 245px;
  padding-right: 10px;
  /* text-align: center; */
  font-size: 25px;
  font-weight: normal;
  color: #F5F1EE;
  font-family: 'Inconsolata', monospace;
  Text', serif;
align-content: space-between;
  z-index: 2;
}

.home-nav {
position: absolute;
height: 40px;
width: 70px;
bottom: 60px;
left: 1340px;
background-color: #000000;
z-index: 1;

}
