P {
color: orange;
font-family: cursive;
border: 2px dashed red;
width: 500px;
background: green;
margin: 0 auto;

padding: 0 20px;
}

.body-p {
  font-size: 20px;
}

#nice {
  background:yellow;
}

p {
  color: purple;

}

.square {
  background: red;
  height: 40px;
  width: 40px;
  margin: 0 0 20px 20px;
}
