@font-face {
  font-family: 'Monarch';
  src: url('assets/web/monarch1.2.woff') format('woff'),
    url('assets/web/monarch1.2.woff2') format('woff2');
}

html {
  background-color: #000000;
  /* margin: 3%; */
}

.handmade {
  position: fixed;
  /* text-align: center; */
  font-size: 95px;
  left: 10px;
  top: -60px;
  /* writing-mode: vertical-rl; */
  font-family: 'Monarch', serif;
  color: #000000;
  background-clip: content-box;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  line-height: 1;
}

.handmade:hover {
  display: block;
  color: #A7FF02;
  cursor: wait;
}

.box {
  display: fixed;
  height: 95%;
  width: 1500px;
  background: #c8a3cc;
}

a {
  text-decoration: none;
  color: #F5F1EE;
}

a:hover {
  color: #A7FF02;
}

.link1 {
  display: inline;
  padding-left: 245px;
  padding-right: 10px;
  /* text-align: center; */
  font-size: 25px;
  font-weight: normal;
  color: #F5F1EE;
  font-family: 'Inconsolata', monospace;
  Text', serif;
align-content: space-between;
  z-index: 2;
}

.home-nav {
position: absolute;
height: 40px;
width: 70px;
bottom: 60px;
left: 1340px;
background-color: #000000;
z-index: 1;
}

.update-time {
position: relative;
font-size: 16px;
left: 20px;
bottom: 800px;
font-family: 'Monarch', serif;
color: #A7FF02;
animation: example1 10s linear infinite;
}


@keyframes floating {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes example1 {
 0%   {
 transform: translateX(100%);
 }
