body {
background-color: #54411C;
margin: 0px;

}

.title-container {
display: block;
position: absolute;
top: 30%;
left: 80%;

}

.author-container {
  display: block;
  position: absolute;
  top: 37%;
  left: 85%;

}

.container-1 {
padding-left: 40%;
padding-right: 80%;
}

.container-2 {
padding-left: 40%;

}

.container-3 {
padding-left: 40%;
padding-right: 80%;
}

.container-4 {
padding-left: 40%;

}

.container-5 {
padding-left: 40%;
padding-right: 80%;
}

.container-6 {
padding-left: 40%;
}

.container-7 {
padding-left: 40%;
padding-right: 80%;
}

.container-8 {
padding-left: 30%;
}

.container-9 {
padding-left: 20%;
padding-right: 80%;
}

.container-10 {
padding-right: 30%;
}

.container-13 {
padding-left: 20%;
padding-right: 80%;
}

.container-14 {
padding-right: 30%;
}

.container-15 {
padding-left: 20%;
padding-right: 80%;
}

.container-16 {
padding-right: 30%;
}


.container-17 {
padding-left: 20%;
padding-right: 80%;
}

.container-18 {
padding-right: 30%;
}


.container-19 {
padding-left: 20%;
padding-right: 80%;
}

.container-20 {
padding-right: 30%;
}

.container-21 {
padding-left: 20%;
padding-right: 80%;
}

.container-22 {
padding-right: 30%;
}

.container-23 {
padding-left: 20%;
padding-right: 80%;
}

.container-24 {
padding-right: 30%;
}


.container-25 {
padding-left: 20%;
padding-right: 80%;
}

.container-26 {
padding-right: 30%;
}



.container-27 {
padding-left: 20%;
padding-right: 80%;
}

.container-28 {
padding-right: 30%;
}


.container-29 {
padding-left: 20%;
padding-right: 80%;
}

.container-30 {
padding-right: 30%;
}



.container-31 {
padding-left: 20%;
padding-right: 80%;
}

.container-32 {
padding-right: 30%;


.container-33 {
padding-left: 20%;
padding-right: 80%;
}

.container-34 {
padding-right: 30%;
}
