body {
  background-image: linear-gradient(to right, #4F7291,#65849F,#7B95AD,#91A7BA,#A7B9C8,#BDCAD6,#D3DCE4,#E9EDF1);
  margin: 600px;
}

.title-container {
  padding-right: -10%;
}



.first-stanza-container {
padding-left: 90%;
}

.second-stanza-container {
padding-left: 90%;
}

.third-stanza-container {
padding-left: 90%;
}

.fourth-stanza-container {
padding-left: 90%;
}

.fifth-stanza-container {
padding-left: 90%;
}

.sixth-stanza-container {
padding-left: 90%;
}

.seventh-stanza-container {
padding-left: 90%;
}

.eighth-stanza-container {
padding-left: 90%;
}

.ninth-stanza-container {
padding-left: 90%;
}

.tenth-stanza-container {
padding-left: 90%;
}

.eleventh-stanza-container {
padding-left: 90%;
}

.twelveth-stanza-container {
padding-left: 90%;
}


.thirteenth-stanza-container {
padding-left: 90%;

}
